.App {
  text-align: center;
}

.App-logo {
  vertical-align: top;
  height: 40vmin;
  opacity: 0; /* make it transparent */
}
.profile-img {
  background-image: url("./assets/headshot-resized.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 8px 8px #282c34 inset;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
}
a:visited {
  color: #61dafb;
}
a:hover {
  color: #45a5c0;
}
